In [1]:
# Home assignment from Wirecard.
# received 16.01 
# Notebook for Task 1

# Task 1

Extract the transactions dataset from Jan 1997– Sep 1997 for calibration purposes. The rest of the dataset from Oct 1997 – Jun 1998 can be used for validation (however, validation would not be a part of this assignment). In case a customer has done two or more transactions on the same day, count it as only one transaction i.e. remove duplicate rows from the data.

Save the extracted transactions in a new csv file called cal_period_transactions.csv. This file is the input for the next step.

In [2]:
#Import packages
import pandas as pd

In [8]:
#load the data
df = pd.read_csv("csv/all_transactions.csv",names=['ID','date'])
# inspect the data
print(df.shape)
df.head()

(6919, 2)

   ID      date
0   1  19970101
1   1  19970118
2   1  19970802
3   1  19971212
4   2  19970101

In [4]:
# Check for NaNs
print('Input data contain NaNs: {}'.format(df.isna().values.any()))

Input data contain NaNs: False

## Drop duplcations

In [5]:
# Remove duplicated rows
df_unique = df.drop_duplicates()
print('Number of samples: {}'.format(len(df)))
print('Number of unique samples: {}'.format(len(df_unique)))
print('Number of unique customers: {}'.format(len(df_unique.ID.drop_duplicates())))

Number of samples: 6919
Number of unique samples: 6696
Number of unique customers: 2357

## Train-validation split

In [6]:
# train-validation split
split_date_b = 19970101 # Jan 1997
split_date_e = 19971001 # Oct 1997
# training part
df_train = df_unique[(df_unique.date >= split_date_b) & (df_unique.date < split_date_e)]
# rest is our validation part
df_val = df_unique[df_unique.date >= split_date_e] 
print('Training   data size: {}'.format(len(df_train)))
print('Validation data size: {}'.format(len(df_val)))

Training   data size: 4814
Validation data size: 1882

## Save the cleaned data

In [7]:
# save the training .csv file
df_train.reset_index(drop=True).to_csv('csv/cal_period_transactions.csv')